  <div class="col-xs-12">
     <div class="form-group">
      <div class="table-responsive">                    
       <table class="table">
        <% if  @price_lists.count  >0 %>  
          <thead>
            <tr>     
              <th>NOMBRE</th>
              <th>UTILIDAD</th>             
              <th colspan="1">HABILITAR</th>
            </tr>
          </thead>
          <tbody>
            <%  @price_lists.each do |price_list| %>
              <tr>
                <td><%= price_list.name %></td>
                <td><%= price_list.utilidad %> %</td>               
                <td>          
                  <div class="group">
                   <input class="toggle toggle-switch-success group" id="<%= price_list.id%>" type="checkbox" onclick= "set_list_client('<%= price_list.id%>', '<%= @client.id %>',  '<%= price_list.id %>' )"/>
                   <label class="toggle-btn" for="<%= price_list.id%>"></label>
                  </div>                
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
        <div class="alert alert-warning">
          <span class="">!No existen lista de precios disponibles ...!</span>
        </div>        
     <% end %>
        </table>
      </div>
    </div>
  </div>


