


$("ul.errors").html("");
<% if @payment_type_bank_account.errors.any? %>
    $("#payment_sale").val("")
	$('#payment_sale').css('border-color', 'red');
	$('#div-error-type').addClass('alert alert-danger');
	 document.getElementById("div-error-type").innerHTML = "<h2><%= pluralize(@payment_type_bank_account.errors.count, 'error') %> prohibited this tipos de pagos from being saved:</h2>"+
	" <ul><% @payment_type_bank_account.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>";
<% else %>
		 document.getElementById("payment_id").value = "<%= @payment_type_bank_account.payment_type_id.to_s %>";
 		 document.getElementById("payment_payment_type_id").value = "<%= @payment_type_bank_account.payment_type_id.to_s %>";
  		 document.getElementById("payment_rode").value = "<%= @payment_type_bank_account.monto %>";
  		 document.getElementById("payment_bank_account_id").value = "<%= @payment_type_bank_account.bank_account_id %>";
  		 document.getElementById("payment_payment_type_bank_accounts_id").value = "<%= @payment_type_bank_account.id %>";


		$("#new_payment_type_modal").addClass("hidden");
		$("#payment_change").removeClass("hidden");
		calcular_saldo();
		change_symbol("<%= @payment_type_bank_account.bank_account.currency.symbol %>");		
<% end %>
 


