<div class="panel panel-success">
  <div class="panel-head">Terminos de Pagos</div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body table-responsive ">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Activo</th>
              <th>Notas</th>             
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @payment_terms.each do |payment_term| %>
              <tr>
                <td><%= payment_term.name %></td>
                <td><%= payment_term.active %></td>
                <td><%= payment_term.note %></td>
                <td><%= payment_term.company_id %></td>
                <td><%= payment_term.create_uid %></td>
               
                <td><%= link_to 'Eliminar', payment_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'Nuevo', new_payment_term_path, class: "btn btn-success" %>

    </div>
  </div>
</div>
