<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="white-box">
            <div>
                <h2 class="m-b-0 m-t-0 m-t-40"> 
                    Código de Inventario <%= @inventory.ref %>
                    <span class="label <%= @inventory.borrador? ? 'label-warning' : (@inventory.aplicado? ? 'label-success' : 'label-danger') %>">
                        <%= @inventory.state.upcase %>
                    </span>
                </h2> 
                <h4 class="text-muted db"> <i class="fas fa-warehouse"></i> <%= @inventory.name_warehouse %></h4>
                <hr>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="white-box text-center"> 
                            <i class="fas fa-building fa-10x fa-lg"></i>
                        </div>
                    </div>       
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h4 class ='m-t-40'><%= @inventory.name_company %></h4>
                        <h4 class=" m-t-40"><i class="fas fa-calendar-alt"></i> <%= @inventory.created_at.strftime("%d/%m/%Y") %></h4>            
                        <h2 class="m-t-40"><%= @mycompany.get_current_currency.symbol%> <%= @inventory.TotalAmountInventory %></h2>            
                        
                        <div class="m-t-20">
                            <%= link_to inventories_path, class: "btn btn-default" do %>
                                <i class="fas fa-arrow-left"></i> Atrás
                            <% end %>

                            <% if @inventory.borrador? %>
                                <%= link_to download_template_inventory_path(@inventory), class: 'btn btn-info' do %>
                                    <i class="fas fa-download"></i> Descargar Excel
                                <% end %>
                                
                                <button class="btn btn-primary" data-toggle="modal" data-target="#uploadExcelModal">
                                    <i class="fas fa-upload"></i> Subir Excel
                                </button>

                                <%= link_to apply_inventory_path(@inventory), method: :patch, class: 'btn btn-success', data: { confirm: '¿Estás seguro de Aplicar el ajuste de Stock? Esta acción es irreversible.' } do %>
                                    <i class="fas fa-check"></i> Aplicar Auditoría
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>

                <!-- Tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#iprofile" role="tab" data-toggle="tab"><span><i class="fas fa-list-alt"></i></span> Detalle de Conteo</a></li>
                    <li role="presentation"><a href="#ireporte" role="tab" data-toggle="tab"><span><i class="far fa-building text-info"></i></span> Reporte</a></li>
                </ul>

                <%= form_for @inventory do |f| %>
                <div class="tab-content">
                    <!-- Reporte Tab -->
                    <div role="tabpanel" class="tab-pane" id="ireporte">
                        <%= (@inventory.inventory_items.count > 0) ? render(partial: 'inventories/reports/table', locals: { inventory: @inventory, show_actions: false }) : 'No hay items en el inventario' %>                           
                    </div>
                    
                    <!-- Detalle de Conteo Tab -->
                    <div role="tabpanel" class="tab-pane active" id="iprofile">
                        <div class="table-responsive pre-scrollable">
                            <table class="table product-overview">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Stock Sistema</th>
                                        <th>✏️ Conteo Real</th>
                                        <th>Variación</th>
                                        <th>Valor Inventario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%= f.fields_for :inventory_items, @inventory.inventory_items do |ff| %>
                                      <% if ff.object %>
                                        <tr class="<%= ff.object.quantity_variance.to_i > 0 ? 'success' : (ff.object.quantity_variance.to_i < 0 ? 'danger' : '') %>">
                                            <td><%= ff.object.code_item %></td>
                                            <td><%= ff.object.name_item %></td>
                                            <td><%= ff.object.quantity_product %></td>
                                            <td>
                                                <% if @inventory.borrador? %>
                                                    <!-- Para que funcione nested items, enviamos los inputs -->
                                                    <%= ff.number_field :physical_quantity, placeholder: "Cant...", class: 'form-control input-sm', style: 'width: 100px;' %>
                                                <% else %>
                                                    <%= ff.object.physical_quantity || '-' %>
                                                <% end %>
                                            </td>
                                            <td>
                                                <% variance = ff.object.quantity_variance.to_i %>
                                                <span class="label <%= variance > 0 ? 'label-success' : (variance < 0 ? 'label-danger' : 'label-default') %>">
                                                    <%= variance > 0 ? "+#{variance}" : variance %>
                                                </span>
                                            </td>
                                            <td><%= @mycompany.get_current_currency.symbol %> <%= ff.object.price_purchase_total %></td>
                                        </tr>
                                      <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>

                        <% if @inventory.borrador? %>
                            <div class="form-actions m-t-20">
                                <%= f.submit '💾 Guardar Avance de Conteo', class: 'btn btn-primary btn-lg btn-block' %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <% end %>

            </div>
        </div>
    </div>
</div>

<!-- Modal Modal subida Excel -->
<div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= form_tag upload_template_inventory_path(@inventory), multipart: true, method: :post do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Subir Plantilla de Conteo (Inventario)</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Selecciona tu Archivo CSV / XLSX</label>
                <%= file_field_tag :file, class: 'form-control', required: true %>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag '📤 Cargar Ahora', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
