<div class="modal-content-payment">
  <div class="modal-header modal-header-primary " >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
    	<h2><i class="fas fa-clipboard-list "></i> Orden de compra: <%= @purchase_order.name %> </h2>
  </div>
	<div class="row">
	   <div class="col-lg-1"> </div>
	    <div class="col-lg-10 panel panel-purchase">
	       <div class="">
	         <div class="">
	          <div class="row">
	            <div class = "col-lg-12 col-md-12 col-sm-12" >
	              <div class="col-lg-2 col-md-2 col-sm-2">
	                 <div class="product-img ">
	                    <%= image_tag(  ActionController::Base.helpers.asset_path('order.png'), :alt => "imge-item", class: "image-form") %>
	                 </div>                 
	               </div>            
	                 <div class="col-lg-4 col-md-4 col-sm-4">
	                    <div class="form-group"> 
	                        <div class="input-group">
	                           <span  class = "form-label-control m-t-50"><%= @purchase_order.name  %></span>
	                        </div>
	                        <div class="input-group m-t-50">
	                            <div class="input-group-addon "><i class="fas fa-address-card"></i></div>
	                            <span  class = "form-control"> <%= @purchase_order.date_order %></span>
	                        </div>
	                        <div class="input-group m-t-50">
	                            <div class="input-group-addon "><i class="fas fa-address-card"></i></div>
	                              <span  class = "form-control">  <%= @purchase_order.supplier.name %> </span>
	                        </div>
	                    </div>
	                 </div>

		            <div class="col-lg-6 col-md-4 col-sm-6">                    
		              <div class="col-sm-12 col-lg-12">
				        <div class="form-group row">
				            <%= label :nit, 'Termino de Pago: ', class: "col-sm-4 text-left control-label col-form-label" %> 
				            <div class="col-sm-8">
				                <%= @purchase_order.payment_term.name %>
				            </div>
				        </div>
				      </div>
				      <div class="col-sm-12 col-lg-12">
				          <div class="form-group row">
				             <%= label :phone, 'Nota :', class: "col-sm-4 text-left control-label col-form-label" %>
				           <div class="col-sm-8">
				              <%=@purchase_order.note %>
				            </div>
				          </div>
				      </div> 			                      
		            </div>
	             </div>
	          </div>
	        </div>
		 </div>
	     <hr>
	     <div class="row no-print ">
	        <div class="  col-lg-12">
	      
	        <%= link_to  'Editar', edit_purchase_order_path(@purchase_order),  class: "btn btn-primary pull-right" , style: "margin-right: 5px;"%>       
	        </div>
	      </div>
	      <hr>
	          <ul class="nav nav-tabs" role="tablist">
	              <li role="presentation" class="active"><a href="#iprofile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true"><span><i class="fa fa-box"></i></span> Linea de Productos</a></li>
	                          
	          </ul>
	          <div class="tab-content">
	              <div role="tabpanel" class="tab-pane active" id="iprofile">               
	                        <div class="col-md-12 col-sm-12">                
	                        <div class="table-responsive">
	                           <div class="panel-body" id="purchase_order_lines">                            
	                              <%= (@purchase_order.purchase_order_lines.count > 0) ? render(partial: 'table', locals: { purchase_order: @purchase_order, show_actions: false }) : 'No hay linea de productos cargados' %>
	                           </div>                                 
	                        </div>              
	                     </div>         
	              </div>
	          </div>
	          </div>
	        </div>
	          <div class="col-lg-1">
	          </div>
	    </div>




