<p id="notice"><%= notice %></p>

<h1>Account Sales</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Sale</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_sales.each do |account_sale| %>
      <tr>
        <td><%= account_sale.account_id %></td>
        <td><%= account_sale.sale_id %></td>
        <td><%= account_sale.amount %></td>
        <td><%= link_to 'Show', account_sale %></td>
        <td><%= link_to 'Edit', edit_account_sale_path(account_sale) %></td>
        <td><%= link_to 'Destroy', account_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Sale', new_account_sale_path %>
