<%= form_with(model: price_list, local: true) do |form| %>
  <% if price_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_list.errors.count, "error") %> prohibited this price_list from being saved:</h2>

      <ul>
      <% price_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class = "col-lg-12 col-md-12 col-sm-12" >
        <div class="col-lg-2 col-md-2 col-sm-2">
           <div class="product-img "> 
             <%= image_tag(  ActionController::Base.helpers.asset_path('list_prices.png'), :alt => "imge-item", class: "image-form") %>
                     
           </div>
          </div>  
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group">                 
                  <div class="input-group">
                    <%= form.text_field :name, placeholder: "Nombre", class: "form-controles m-t-50" %>
                  </div>
                 
                    <div class="input-group m-t-50 " id="default_container">
                      <p class="form-control" style="height: auto; padding: 10px; border-radius: 8px;">
                        <%= form.label :default, '¿Es Predeterminada?' %>
                        <%= form.check_box :default, style: "margin-left: 10px;" %> 
                      </p>
                   </div>

                    <div class="input-group m-t-20 ">
                      <p class="form-control" style="height: auto; padding: 10px; border-radius: 8px;">
                        <%= form.label :list_type, 'Categoría de Lista' %>
                        <%= form.select :list_type, PriceList.list_types.keys.map { |lt| [lt.humanize, lt] }, {}, class: "form-control", id: "price_list_list_type", style: "margin-top: 5px; font-weight: 800; color: #4338ca;" %>
                      </p>
                      <small style="color: #64748b; font-style: italic; margin-top: 5px; display: block;">Las listas tipo 'Cliente' u 'Otras' no son usables en el POS y siguen el precio default.</small>
                   </div>

                    <div class="input-group m-t-20 ">
                      <p class="form-control" style="height: auto; padding: 10px; border-radius: 8px;">
                        <%= form.label :state, 'Estado Operativo' %>
                        <%= form.select :state, PriceList.states.keys.map { |s| [s.humanize, s] }, {}, class: "form-control", style: "margin-top: 5px;" %>
                      </p>
                   </div>
                                    
              </div>
        </div>

           <div class="col-lg-6 col-md-4 col-sm-6">

              <a class="btn btn-app">
                <span class="badge bg-yellow"></span>
                <i class=" fa fa-building"></i> Stock
              </a>
              <a class="btn btn-app">
                <span class="badge bg-green">300</span>
                <i class="fa fa-barcode"></i> Products
              </a>
              <a class="btn btn-app">
                <span class="badge bg-purple">891</span>
                <i class="fa fa-users"></i> Users
              </a>
              <a class="btn btn-app">
                <span class="badge bg-teal">67</span>
                <i class="fa fa-inbox"></i> Orders
              </a>
              <a class="btn btn-app">
                <span class="badge bg-aqua">12</span>
                <i class="fa fa-envelope"></i> Inbox
              </a>
              <a class="btn btn-app">
                <span class="badge bg-red">531</span>
                <i class="fa fa-thumbs-up"></i> Likes
              </a>
           </div>

         </div>
      </div> 
      <hr>     

   <div class="row no-print ">
        <div class="col-xs-12">
          <%= link_to 'Back', price_lists_path,  class: "btn btn-default "  %>

           <%= form.submit 'Guardar', :class => "btn btn-success  pull-right" %>
        </div>
      </div>
<% end %>

<script>
  $(document).ready(function() {
    function toggleDefaultVisibility() {
      var listType = $('#price_list_list_type').val();
      if (listType === 'sistema') {
        $('#default_container').fadeIn();
      } else {
        $('#default_container').fadeOut();
        $('#price_list_default').prop('checked', false);
      }
    }

    var listTypeSelect = document.getElementById('price_list_list_type');
    if (listTypeSelect) {
      listTypeSelect.addEventListener('change', toggleDefaultVisibility);
      toggleDefaultVisibility();
    }
  });
</script>
