

    <div class="row">
           <div class="col-lg-1"> </div>
                  <div class="col-lg-10 panel panel-info">
                   <div class="white-box">
                    <div class="">
                    	 <div class="row">
						      <div class = "col-lg-12 col-md-12 col-sm-12" >
						        <div class="col-lg-4 col-md-4 col-sm-4">
						           <div class="product-img "> 
						             <%= image_tag(  ActionController::Base.helpers.asset_path('list_prices.png'), :alt => "imge-item", class: "image-form") %>
						                     
						           </div>
						          </div>  
						           
						         	<div class="col-lg-8 col-md-8 col-sm-8">
						              <div class="form-group">
						                  <span  class = "form-label-control m-t-50"><%=@datas[0].name %></span>                  
						                    </div>
						              <div class="form-group ">
						                 <label >Utilidad <%=@datas[0].utilidad %>%</label>
						              </div>
						             </div>					          
						         </div>
						      </div>    
						       <% @datas[1].each do |data| %>     
						        <%if data.class == Category %>	

						      	<div align="center" class="text-info">
					  				<h4 ><strong>PRODUCTOS DE LA CATEGORIA (<%= data.name %>)</strong></h4>
								</div>
									<table class="table table-bordered text-center">
										<thead>
										   <tr>		
										   <% data.items.order(:name).limit(6).each_with_index do |item, index| %>
									    	<% if index == 2 or index==3 %>
									    		<th><%= link_to edit_item_path(item), {method: :get, remote:true  } do %> 
									    			<%= image_tag(item.image.large.url, :alt => "imge-item",  :style => "iwidth:100%; height:100px;", id: item.id) %>
									    				<% end %>
									    			</th>
									    			
									    	<% else %>
										    		<th><%= link_to edit_item_path(item), {method: :get, remote:true } do %> 
										    			<%= image_tag(item.image.large.url, :alt => "imge-item",  :style => "iwidth:100%; height:100px;" , id: item.id ) %>
														<% end %>
														
										    		</th>
										    	<% end%>
										    <%end%> 	    
										    </tr>
										  </thead>					
									</table>
						  	  	 <hr>
						  	  	 <% end %>


						  	  	 <%if data.class == Array %>	

						  	  	
						  	  	 <table class="table">
								    <thead>
									    <tr>
									      <th>Nombre</th>
									      <th>Descripción</th>
									      <th>Precio $</th>
									      <% @mycompany.get_current_currency.getChangePrices.each do |price_rate| %>
									      <th>Precio  <%=price_rate.currencyReference.symbol %></th>
									      <% end %>
									      <th colspan="1"></th>
										</tr>
										  </thead>
										  <tbody>
										    <% data.each do |item| %> 
										      <tr>
										        <td><%= item.name %></td>
										        <td><%= item.description %></td>
										        <td><%= number_to_currency(item.getPriceAsignado(@datas[0].name)) %></td>

										         <% @mycompany.get_current_currency.getChangePrices.each do |price_rate| %>
										        <td> <%=price_rate.currencyReference.symbol %> <%= price_rate.getPriceCurrencyRate(item.getPriceAsignado(@datas[0].name)) %></td>	
										        <% end %>				   
										        <td>
										        <% if can? :read, Item %>
										        	  <%= link_to 'Ver', item, class: "btn btn-info" %>
										        <% end %>
										        </td>
										      
										      </tr>
										    <% end %>
										  </tbody>
										</table>
										 <% end %>
						  	  	 <%end %>
					                               	  	
                    </div>
                  </div>
                </div>
              <div class="col-lg-1">
              </div>
    </div>