<div class="row">
  <div class="col-lg-1"> </div>
    <div class="col-lg-10 panel panel-purchase">
       <div class="white-box">
          <div class="">    
          <%= render 'showes', box: @box %>
          <%= render 'box_access',box: @box %>

        </div>
       </div>
    </div>
  <div class="col-lg-1">
    
  </div>
</div>

<script>
  var ranges = {
  "Ultimos 7 dias": ["<%= format_date(Date.current - 7)%>", "<%=  format_date(Date.current + 1)%>"],
  "Ultimos 30 dias": ["<%= format_date(Date.current - 30)%>", "<%=  format_date(Date.current)%>"],  
  "Este mes": ["<%= format_date(Date.current.beginning_of_month)%>", "<%=  format_date(Date.current) %>"],
  "Mes pasado": ["<%= format_date(1.month.ago.beginning_of_month)%>", "<%=  format_date(1.month.ago.end_of_month)%>"],
  "Este año": ["<%= format_date(Date.current.beginning_of_year)%>", "<%=  format_date(Date.current)%>"],
  "Año pasado": ["<%= format_date(1.year.ago.beginning_of_year)%>", "<%=  format_date(1.year.ago.end_of_year)%>"]
};

  $('input[name="dateranges"]').daterangepicker({
      startDate: moment("<%= l @data_init, format:'%Y-%m-%d' %>"),
      endDate: moment("<%= l @data_limit, format:'%Y-%m-%d' %>"),
      ranges: ranges,
      alwaysShowCalendars: true

  }, function(start, end, label){

    $('input[name="data_init"]').val(start.format('YYYY-MM-DD'));
    $('input[name="data_limit"]').val(end.format('YYYY-MM-DD'));
    // $("#state").val('input');
   // $("#submit-button").click();
  });

</script>