<%= form_with(model: proforma, local: true) do |form| %>
  <% if proforma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proforma.errors.count, "error") %> prohibited this proforma from being saved:</h2>

      <ul>
      <% proforma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :sale_id %>
    <%= form.number_field :sale_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
