$("ul.errors").html("");
<% if @zona.errors.any? %>
    $("#zona_name").val("")
	$('#zona_name').css('border-color', 'red');
	$('#div-error').addClass('alert alert-danger');
	 document.getElementById("div-error").innerHTML = "<h2><%= pluralize(@zona.errors.count, 'error') %> prohibited this zona from being saved:</h2>"+
	" <ul><% @zona.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>";
<% else %>
	$("#address_zona_id").html("<option value= '<%=@zona.id %>'><%=@zona.name %></option>")
	$("#new-country-modal").modal("hide");
	$("#address_avenida_id").html("");

	$("#btn-avenida").html("");
	$("#btn-avenida").html("<a class='btn waves-effect waves-light btn-info' data-remote='true' data-method='get' href='/avenidas/new?zona_id=<%= @zona.id %>'><span class='fas fa-plus' aria-hidden='true'> </span></a> ");
	$("#panel_avenida").removeClass('hidden');
<% end %>
