<table class="table">
    <thead>	
	    <tr>
          <th>N°</th>
          <th>Fecha </th>
          <th>Cliente</th>
          <th>Decuento</th>
    	  <th>Total</th>
          <th>Saldo</th>
        </tr>
    </thead>                
    <tbody>
     <% @company.get_sales_year.each do |sale| %>
        <tr>
          <td><%= sale.number %></td>
          <td><%= sale.date.strftime("%d/%m/%Y") %></td>
          <td> <%=sale.client.name %></td> 
          <td><%= number_to_percentage(sale.discount_all, precision: 0) %></td>         
          <td><%= number_to_currency(sale.total) %></td>
          <td><%= number_to_currency(sale.saldo) %></td>                         
       </tr>
     <% end %>
    </tbody>
</table>
