    <div class="modal-body">
     <%= form_with(model: account_expense, method: :post, remote: false) do |form| %>
      

    <div class="row">
         <div class="col-xs-12"> 
           <div id="div-error"></div>
         </div>
                
             <%= form.hidden_field :account_id, placeholder: "", class: "form-control"%>
       
          <div class="col-xs-12">
            <div id="div-error"></div>
            <div class="form-group">
                <%= form.label :amount,'Monto', class: "sr-only" %>
                <div class="input-group">
                
                    <div class="input-group-addon"><i class=" fas fa-dollar-sign"></i></div>
                <%= form.text_field :amount, placeholder: "Monto de gasto efectuado.", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="col-xs-6" style="margin-bottom: 15px;">
            <div class="form-group">
               <%= form.label :expense_type, 'Tipo de Gasto', style: "font-weight: 700; color: #475569;" %>
               <div class="input-group">
                 <div class="input-group-addon"><i class="fas fa-tags"></i></div>
                 <%= form.select :expense_type, AccountExpense.expense_types.keys.map { |k| [k.capitalize, k] }, {}, class: "form-control", style: "border-radius: 6px;" %>
               </div>
            </div>
          </div>

          <div class="col-xs-6" style="margin-bottom: 15px;">
            <div class="form-group">
               <%= form.label :expense_category, 'Categoría', style: "font-weight: 700; color: #475569;" %>
               <div class="input-group">
                 <div class="input-group-addon"><i class="fas fa-folder"></i></div>
                 <%= form.select :expense_category, AccountExpense.expense_categories.keys.map { |k| [k.to_s.gsub('_', ' ').capitalize, k] }, {}, class: "form-control", style: "border-radius: 6px;" %>
               </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
                <%= form.label :description, class: "sr-only" %>
                 <div class="input-group">
                  <div class="input-group-addon"><i class=" fas fa-info"></i></div>
                  <%= form.text_area :description, placeholder: "Razon motivo del gasto", class: "form-control"%>
                
              </div>

            </div>
          </div>  

        </div>

        <div class="actions">
          <%= form.submit "Registrar", class: "btn btn-success " %>
        </div>
    <% end %>
</div>