

<table class="table">
  <thead>
    <tr>
      <th> Fecha</th>
      <th>Ref Proc.</th>

      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% box_purchase_order_payments.each do |box_purchase_order_payment| %>
      <tr>
        <td><%= box_purchase_order_payment.box.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= box_purchase_order_payment.box.name %></td>
        <td><%= box_purchase_order_payment.box.currency.symbol %> <%= box_purchase_order_payment.amount %></td>
        <% if current_user.is_admin? %>
          
        
        <td><%= link_to 'Show', box_purchase_order_payment %></td>
        <td><%= link_to 'Edit', edit_box_purchase_order_payment_path(box_purchase_order_payment) %></td>
        <td><%= link_to 'Destroy', box_purchase_order_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


