
<table class="table">
  <thead>
    <tr>
 <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
    </tr>
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th>Codigo Telefono</th>
      <th></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>

        <td><%= country.code %></td>
        <td><%= country.phone_code %></td>
        <td><% country.departamentos.each do |depa| %>

          <span class="badge bg-purple"><%=depa.name %>  </span>
          <% end %>
        </td>

         <td>
          <%= button_to "/to_country/"+country.id.to_s , {method: :get, class: "btn btn-purple"} do %>
            <span class="fas fa-chart-area" aria-hidden="true"> </span>
          <% end %>
        </td>
        <td>
          <%= button_to country_path(country), {method: :get, class: "btn btn-success"} do %>
            <span class="fa fa-eye" aria-hidden="true"> </span>
          <% end %>
        </td>
        <td>
          <%= button_to edit_country_path(country), {method: :get, class: "btn btn-info"} do %>
            <span class="fas fa-pencil-alt" aria-hidden="true"> </span>
          <% end %>
        </td>
        <td>
          <%= button_to country, { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
            <span class="fas fa-trash" aria-hidden="true"> </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
