


 <%= form_for :box_user, url: box_users_url, method: :post, remote: true do |form| %>

  <% if box_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box_user.errors.count, "error") %> prohibited this box_user from being saved:</h2>

      <ul>
      <% box_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="modal-body">
    <div class="col-md-12">
      <%= form.label :user_id, 'Usuarios' %>
      <%= form.collection_select :user_id, @users, :id, :name, 
                     {selected: @box_user.user_id, include_blank: 'Seleccioné un usuario'},
                     {class: "form-control"} %>
      <%= form.hidden_field :box_id %>
    </div><!-- ends col-12 -->

  </div><div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
                   <%= form.submit 'Asignar', class: "btn btn-primary pull-right" %>
        </div>
<% end %>
