<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
      <%= form_with(model: category, local: true) do |f| %>
         <% if category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
            <% category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
           <div class="col-md-4">                
              <div class="product-img"> 
                 <%= image_tag(@category.pictures.large.url, :alt => "logo-img") %>
                  <br>
                   <div class="fileupload btn btn-info waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Subir un imagenes...</span>
                   <%= f.file_field :pictures, multiple: false , :class =>"upload"%>                  
                </div>
                </div>
          </div>
        </div>
          <%= f.submit "Aceptar", class: "btn btn-success" %>
          <%= link_to 'Back', categories_path,  class: "btn btn-default "  %>
      <% end %>
    </div>
  </div>
</div>
