<div class="">
	<br>
 <div class="row">
  <% if notice.present? %>
   <div class="alert alert-success" role="alert"><%= notice %></div>
   <script type="text/javascript">
        toastr.success('<%= notice %>')
        // swal('<%= notice %>');
    </script>
  <% end %>

  <% if alert.present? %>
   <div class="alert alert-danger" role="alert"><%= alert %></div>
      <script type="text/javascript">
        toastr.error('<%= alert %>')
        // swal('<%= alert %>');
    </script>
  <% end %>
 </div>
</div>
