         <% if can? :read, Account %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones <span class="caret"></span>
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-donate"></span>
          </a>
           <ul class="dropdown-menu forAnimate" role="menu">
            <% if can? :read, Currency %>
            <li class="<%= current_page?(currencies_path) ? "active" : "" %>"><%= link_to 'Kardex', currencies_path %>
            </li>
            <% end %>
          </ul>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if can? :read, Currency %>
            <li class="<%= current_page?(currencies_path) ? "active" : "" %>"><%= link_to 'Libro caja', currencies_path %>
            </li>
            <% end %>
          </ul>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if can? :read, Currency %>
            <li class="<%= current_page?(currencies_path) ? "active" : "" %>"><%= link_to 'Registro de compras', currencies_path %>
            </li>
            <% end %>
          </ul>
          
           <ul class="dropdown-menu forAnimate" role="menu">
            <% if can? :read, Currency %>
            <li class="<%= current_page?(currencies_path) ? "active" : "" %>"><%= link_to 'Registro de ventas', currencies_path %>
            </li>
            <% end %>
             <% if can? :read, Sale %>
            <li class="<%= current_page?(reports_sales_by_period_path) ? "active" : "" %>"><%= link_to 'Reporte Productos Vendidos', reports_sales_by_period_path %>
            </li>
            <% end %>
          </ul>
        </li>

        <li class="<%= current_page?(accounts_path) ? "active" : "" %>">
          <a href="<%= accounts_path %>">
            Balance general
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity  fab fa-accusoft"></span>
          </a>
        </li>

        <li class="<%= current_page?(accounts_path) ? "active" : "" %>">
          <a href="<%= accounts_path %>">
            Cuentas
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity  fab fa-accusoft"></span>
          </a>
        </li>
        <% end %>       
        <% if can? :read, Account %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Divisas <span class="caret"></span>
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-donate"></span>
          </a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <% if can? :read, Currency %>
            <li class="<%= current_page?(currencies_path) ? "active" : "" %>"><%= link_to 'Monedas', currencies_path %>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>

