
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Code</th>
      <th>Usuario</th>
      <th>Reconcile</th>
      <th>Total</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.currency_id %></td>
        <td><%= account.format_code %></td>
        <td><%= account.user.name %></td>
        <td><%= account.reconcile %></td>
        <th><%= account.payments_total%></th>
        <td><%= account.note %></td>
         <% if can? :read, Account %>
        <td><%= link_to 'ver', account, class: "btn btn-info" %></td>
        <% end %>
         <% if can? :update, Account %>
        <td><%= link_to 'Editar', edit_account_path(account), class: "btn btn-primary" %></td>
         <% end %>
         <% if can? :destroy, Account %>
        <td><%= link_to 'Eliminar', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>